%li.list-group-item
  .media
    = image_tag message.user.player.avatar_url(:small_thumb),
      width: '50',
      height: '50',
      alt: current_user.player.nickname,
      class: 'mr-3 rounded-circle'

    .media-body
      %h6.mt-0
        = message.user.player.nickname

        %small.pull-right.text-muted
          = l(message.created_at, format: :short)

      = message.content
