= render 'form'

= render 'functions',
  functions: @current_functions,
  headline: 'Aktuelle Functionen im Verein'

= render 'functions',
  functions: @functions,
  headline: 'Alle Funktionen im Verein'
