= content_for(:title, "Meldeliste erstellen #{@event.name}")

.card
  .card-header
    = render 'events/header_with_subnavigation',
      event: @event,
      subtitle: 'Meldeliste erstellen'

  .card-body
    = render 'form', attendance_list: @attendance_list
