.well.well-sm
  = link_to edit_polymorphic_path(event), class: 'default-button' do
    = edit_icon
    Event bearbeiten

  = link_to event_path(event), method: :delete, class: 'default-button',
    data: { confirm: 'Event wirklich löschen?' } do
    %span.text-danger
      = delete_icon
      Event Löschen
