.progress
  .progress-bar.progress-bar-success{role: 'progress-bar',
    'aria-valuenow' => 1, 'aria-valuemin' => event.minimum,
    'aria-valuemax' => event.maximum,
    style: "width: #{yes_quota_for(event) * 100}%;"}

    #{event.yes_count} / #{event.maximum}
