.progress
  .progress-bar{role: 'progress-bar',
    class: event_progress_bar_css_class(event),
    'aria-valuenow' => 1,
    'aria-valuemin' => event.minimum,
    'aria-valuemax' => event.maximum,
    min_width: '20px',
    style: "min-width: 2em; width: #{event.replies_quota * 100}%;"}

    = event.yes_count.zero? ? '0' : "#{event.yes_count} M"
    - unless event.waiting_count.zero?
      \+
      = event.waiting_count
      W
