%ul.nav.nav-tabs.nav-justified
  %li{role: 'presentation',
      class: ('active' if params[:controller] == 'events')}

    = link_to event.name, event_path(event)

  - if event.attendance_list.present?
    %li{role: 'presentation',
        class: ('active' if params[:controller] == 'attendance_lists')}

      = link_to 'Meldeliste', event_attendance_list_path(event)

  - elsif can?(:create, AttendanceList)
    %li{role: 'presentation',
        class: ('active' if params[:controller] == 'attendance_lists')}

      = link_to 'Meldeliste erstellen',
                event_attendance_list_path(event),
                method: :post

  %li{role: 'presentation',
      class: ('active' if params[:controller] == 'reports')}

    = link_to 'Spielbericht', event_report_path(event)
