%ul.nav.nav-tabs.nav-justified
  %li{role: 'presentation',
      class: ('active' if params[:controller] == 'events')}

    = link_to @event.name, event_path(@event)

  %li{role: 'presentation',
      class: ('active' if params[:controller] == 'attendees_lists')}

    = link_to 'Meldeliste', event_attendees_list_path(@event)

  %li{role: 'presentation',
      class: ('active' if params[:controller] == 'reports')}

    = link_to 'Spielbericht', event_report_path(@event)
