.page-header
  %h1
    %small
      %span.pull-right= l(@news.created_at, format: :date_only)
    = @news.title

.panel{class: (@news.internal? ? 'panel-default' : 'panel-primary')}
  .panel-body
    = @news.content.html_safe
