= content_for :title, 'Kontakt'

%h1
  = content_for :title

%address
  %strong CFB Hasenheide e.V.
  %br/
  %br/
  Schwiebusser Straße 41
  %br/
  10965 Berlin
  %br/
  %br/
  %abbr{title: 'Telefon'} Tel:
  030 25 29 68 50
  %br/
  %abbr{title: 'Fax'} Fax:
  030 25 29 68 51
  %br/
  %br/
  = mail_to 'info@cfb-hasenheide.de'
