%h1
  = fussball_de_icon
  CFB @
  = link_to 'Fussball.de',
    'https://www.fussball.de/verein/cfb-hasenheide-berlin/-/id/00UQ28BQH0000000VV0AG811VTK9TF5P#!/section/stage'

.halfs
  .half
    .panel.panel-primary
      .panel-heading
        %h2.panel-title CFB Tabelle

      .panel-body
        .fussballDeWidget#tableCFB
          = spinner_icon
          Lade Tabelle von fussball.de ...

  .half
    .panel.panel-primary
      .panel-heading
        %h2.panel-title CFB Spielplan

      .panel-body
        .fussballDeWidget#scheduleCFB
          = spinner_icon
          Lade Mannschaftsspielplan von fussball.de ...
