.page-header
  %h1 Willkommen!

.panel.panel-primary
  .panel-body
    Hier entsteht eine neue Internetpräsenz des CFB Hasenheide. Bitte folgen
    Sie diesem Link, um auf die aktuelle Seite zu gelangen:
    = link_to 'http://www.cfb-hasenheide.de', 'http://www.cfb-hasenheide.de'

.half-half
  .left-half
    .panel.panel-primary
      .panel-heading
        %h3.panel-title CFB Hasenheide I - Ü32 Freizeit Landesliga KF
      .panel-body
        #cfbIFussballDeWidget
          %i.fa.fa-spinner.fa-spin
          Lade Tabelle
  .right-half
    .panel.panel-primary
      .panel-heading
        %h3.panel-title CFB Hasenheide II - Herren Freizeit Landesliga St.1 KF
      .panel-body
        #cfbIIFussballDeWidget
          %i.fa.fa-spinner.fa-spin
          Lade Tabelle
