%h1 Willkommen!

.well
  Hier entsteht eine neue Internetpräsenz des CFB Hasenheide. Bitte folgen Sie
  diesem Link, um auf die aktuelle Seite zu gelangen:
  = link_to 'http://www.cfb-hasenheide.de', 'http://www.cfb-hasenheide.de'

#fussballDeWidget
  %i.fa.fa-spinner.fa-spin
  Lade Tabelle
