%h1 Listing roles

%table.table
  %thead
    %tr
      %th Bezeichnung
      %th

  %tbody
    - @roles.each do |role|
      %tr
        %td= role.name
        %td
          = link_to 'Edit', edit_role_path(role)
          = link_to 'Destroy', role,
            method: :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Neues Amt', new_role_path, class: 'primary-button'
