%li.list-group-item
  .media
    .media-left
      = image_tag forum_post.user.player.avatar_url(:small_thumb),
        width: '30',
        height: '30',
        alt: forum_post.user.player.nickname,
        class: 'img-circle'
    .media-body
      %strong.text-muted
        = forum_post.user.player.nickname
      %small.pull-right.text-muted= l(forum_post.created_at, format: :short)
      %br
      = forum_post.comment
