%h1 Admin Dashboard
%ul
  %li Spieler erstellen
  %li
    = link_to 'Rollen erstellen', roles_path
  %li
    = link_to 'Rollen zuweisen', functions_path
  %li Spielberichten erstellen
  %li Event erstellen
