/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap-wysihtml5
 *= require rails_bootstrap_forms
 *= require_self
 */

$brand-primary: #335032
$navbar-default-bg: $brand-primary
$navbar-default-link-color: #fff
// $navbar-default-link-color: #4F5D2F
// $navbar-default-link-hover-color: #bbb
$navbar-default-link-hover-color: #D5A021
// $navbar-default-link-active-color: #eee
$navbar-default-link-active-color: #D5A021
$navbar-default-toggle-icon-bar-bg: $navbar-default-link-color
$navbar-default-toggle-hover-bg: $navbar-default-link-hover-color
$link-color: #D5A021
$link-hover-color: #D5A021
$link-active-color: #D5A021

body
  padding-top: 70px
  padding-bottom: 70px

@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'bootstrap3-switch'
@import 'font-awesome-sprockets'
@import 'font-awesome'

.main-area
  @extend .row

  .main-content
    @extend .col-md-8

  .sidebar
    @extend .col-md-2

.halfs
  @extend .row
  .half
    @extend .col-md-6

.two-ten
  @extend .row
  .two
    @extend .col-md-2
  .ten
    @extend .col-md-10

.thirds
  @extend .row
  .third
    @extend .col-md-4
  .two-thirds
    @extend .col-md-8

.primary-button
  @extend .btn
  @extend .btn-primary

.primary-button-sm
  @extend .btn
  @extend .btn-primary
  @extend .btn-sm

.primary-button-xs
  @extend .btn
  @extend .btn-primary
  @extend .btn-xs

.default-button
  @extend .btn
  @extend .btn-default

.default-button-sm
  @extend .btn
  @extend .btn-default
  @extend .btn-sm

.default-button-xs
  @extend .btn
  @extend .btn-default
  @extend .btn-xs

table
  @extend .table

html
  position: relative
  min-height: 100%

body
  /* Margin bottom by footer height */
  margin-bottom: 60px

label.required:after
  content: ' *'

.footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 60px
  background-color: $brand-primary

.footer p
  margin: 10px 0

.footer a
  margin: 10px 0
  color: $brand-primary
  text-decoration: none
  &:hover
    color: $navbar-default-link-hover-color
  &:active
    color: $navbar-default-link-active-color
  &.right
    margin: 0
    float: right

blockquote
  font-size: 14px

.img-thumbnail
  width: 140px
  height: 140px

img.logoNavbar
  margin: 2px 0 0 5px

.fussballDeWidget
  overflow: hidden
  overflow-x: scroll

.jumbotron
  background-image: image-url('pitch.jpg')
  background-position: bottom
  color: white

tr.clickableTableRow
  cursor: pointer

// offcanvas chat
#chat
  padding-top: 60px

#chat .panel
  height: 100%
  margin: 0 5px 5px 5px

button.navbar-toggle
  height: 34px

textarea
  resize: vertical
