%p
  Hallo #{@resource.username}!
%p
  Jemand hat einen Link angefordert, um dein Passwort zu ändern. Du kannst
  das mittels folgendem Link tun.
%p
  = link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token)
%p
  Ignoriere diese Mail, falls du sie nicht angefordert hast!
%p
  Dein Passwort wird sich nur ändern, wenn du obigem Link folgst und ein
  neues erstellst.
