%p
  Hallo #{@resource.username}!
%p Dein Account wurde wegen zu vielen erfolglosen Anmeldeversuchen gesperrt.
%p Klicke folgenden Link, um deinen Account zu entsperren:
%p= link_to 'Account entsperren', unlock_url(@resource, unlock_token: @token)
