.row
  - if f.object.home?
    .col
      = render 'layouts/de_and_increasable_number_field',
        f: f,
        method: :corners_club,
        help_text: f.object.club_team_name

    .col
      = render 'layouts/de_and_increasable_number_field',
        f: f,
        method: :corners_rival,
        help_text: f.object.rival_team_name

  - else
    .col
      = render 'layouts/de_and_increasable_number_field',
        f: f,
        method: :corners_rival,
        help_text: f.object.rival_team_name

    .col
      = render 'layouts/de_and_increasable_number_field',
        f: f,
        method: :corners_club,
        help_text: f.object.club_team_name
