%ul.nav.nav-tabs.nav-justified
  %li{role: 'presentation', class: ('active' if params[:action] == 'index')}
    = link_to 'Spielberichte', reports_path

  %li{role: 'presentation', class: ('active' if params[:action] == 'no_content')}
    = link_to 'Ohne Bericht', no_content_reports_path

  %li{role: 'presentation', class: ('active' if params[:action] == 'missing')}
    = link_to 'Fehlende', missing_reports_path
