- flash.each do |name, msg|
  - if msg.is_a?(String)
    .alert.alert-dismissable{class: (name.to_s == 'notice' ? 'alert-info' : 'alert-danger')}
      %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => 'true'} &times;
      = content_tag :div, msg, id: "flash_#{name}"
