%nav.navbar.navbar-fixed-top.navbar-inverse{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{'data-target' => '#navigation', 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Navigation aus-/einklappen
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: '/#'} CFB Hasenheide

    #navigation.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: '/#'} Start

        %li
          %a{href: '/contact'} Kontakt

      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: '/#'} Login
